header
    <a href="http://localhost:1337">Index</a>
    <a href="http://localhost:1337/Lakhvir">Lakhvir</a>
    <a href="http://localhost:1337/Dad">Dad</a>
    <a href="http://localhost:1337/Mom">Mom</a>
    hr